<div class="ui icon message">
    <i class="bookmark icon"></i>
    <div class="content">
        <div class="header">
            {{pageTitle}}
        </div>
        <p>L’Université AUSY est le poumon de la politique RH du Groupe. C’est une structure de formation continue que nous avons mise en place depuis 2007 et qui a largement fait ses preuves.</p>
    </div>
</div>
<img class="ui fluid rounded image" src="assets/images/university.png">

<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            <div class="text-center">Developper par:</div>
            <div class="text-center">
                <h3>Maurice GUILAVOGUI</h3>
            </div>
            <div class="text-center">formationsoftwaregui@gmail.com</div>
        </div>
    </div>
</div>