<!DOCTYPE html>
<html>

<head></head>

<body>
    <app-menu></app-menu>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item "><a class="page-link " routerLink="/welcome">1</a></li>
            <li class="page-item "><a class="page-link " routerLink="/todos">2</a></li>
            <li class="page-item "><a class="page-link " routerLink="/users">3</a></li>
        </ul>
    </nav>
    <!-- <app-footer></app-footer> -->
</body>

</html>
